body {
  color: white;
  background-color: rgb(40, 40, 40);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {

}

.app-body {
  text-align: center;
  margin: auto;
}

.timer-display {
  color: white;
  font-size: 5em;

}